@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Coral+Pixels&family=Micro+5&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Coral+Pixels&family=Jaro:opsz@6..72&family=Micro+5&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primaryColor: #024950;
    --secondaryColor: #0FA4AF;
    --textColor: #FCF6F5;
}

* {
    margin: 0;
    padding: 0;
    /* color: var(--textColor); */
    font-family: "Comic Relief", system-ui;
}

body {
    background-color: var(--primaryColor);
    color: var(--textColor);
    /* overflow: hidden; */
    overflow-x: hidden;
}

#navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
}

nav ul {
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
}

nav ul li {
    margin: 0.5em;
    padding: 0.2em;
    text-decoration: none;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: var(--textColor);
}

nav ul img {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    filter: saturate(150%);
}

#help {
    margin: 0.5em;
    padding: 0.2em;
}

#help span {
    color: var(--textColor);
    cursor: pointer;
}

.Name {
    margin: 2em;
    padding: 0.2em;
    /* background-color:var(--secondaryColor); */
    border-radius: 2em;
}

.Name p {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(#AFDDE5);
    text-shadow: 0 0 12px var(--secondaryColor);
}

.second {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

.second div {
    /* border: 2px solid yellow; */
    width: 50%;
}

#curimage {
    justify-content: center;
    margin-left: 4em;
}

#curimage img {
    height: 25em;
    width: 25em;
    border-radius: 30%;
    justify-self: center;
    box-shadow: 0px 0px 20px black;
    transition: all 0.4s ease-in-out;
}

#curimage img:hover {
    transform: scale(1.05);
    box-shadow: 0em 0em 2em var(--secondaryColor);
    cursor: pointer;
}

#text {
    margin-top: 2em;
    margin-right: 2em;
}

#text p {
    font-size: 1.4em;
    /* alignment-baseline: 10px; */
    font-style: italic;
}

.third {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid greenyellow; */
    justify-content: center;
    align-content: center;
    display: flex;
}

.container {
    height: 75vh;
    width: 35vw;
    /* justify-content: center; */
    background-color: rgb(179, 179, 179);
    /* border: 2px solid cyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    /* margin: 2em; */
    margin-top: 5em;
    opacity: 0.9;
    padding: 10px 0;
}

#heading {
    font-size: 2rem;
    color: var(--primaryColor);
    padding: 0.5em 0;
}

form {
    justify-content: center;
    align-items: center;
    align-content: center;
}

form input {
    display: block;
    margin-bottom: 1em;
    border-radius: 0.4em;
    font-size: 1em;
    padding: 0.5em;
}

.formm p {
    color: var(--primaryColor);
}

.middle {
    display: inline;
    justify-content: center;
    margin: 1em;
    margin-top: 2.4em;
}


/* section third styles copied from apna college project*/
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img {
    max-width: 2rem;
    margin: 0.2em;
    border-radius: 15%;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    /* margin-bottom: 5em; */
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

form select {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.50rem;
}

.message {
    font-size: 1.6em;
    position: relative;
    left: 1em;
    margin-bottom: 0.5em;
    color: var(--primaryColor);
    margin-top: 2.5em;
}

.convertt {
    font-size: 1.2em;
    padding: 0.1em;
    margin: 0.5em;
    height: 2.3em;
    width: 10em;
    border-radius: 1.5em;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    outline: none;
    border: none;
    position: relative;
    left: 1em;
    margin-top: 1.2em;
    cursor: pointer;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top10 p {
    font-size: 2em;
    color: var(--textColor);
    margin: 1em;
}

.fifth {
    display: flex;
    white-space: nowrap;
    gap: 3em;
    overflow-y: hidden;
    padding: 2em 0;
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    scrollbar-width: none;
    /* Firefox */
    /* -ms-overflow-style: none; */
}

.fifth::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}


.cards {
    width: 15em;
    flex: 0 0 auto;
    display: flex;
    border-radius: 2em;
    /* height: 8em; */
    overflow-x: hidden;
}

.cards img {
    /* height: 8em; */
    width: 15em;
    border-radius: 2em;
    transition: all 0.1s ease-in-out;
}

.cards img:hover {
    box-shadow: 0px 0px 2em var(--secondaryColor);
    cursor: pointer;
}

footer {
    /* border: 2px solid navy; */
    /* background-color:; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
}
.footerr{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.fimg{
    /* border: 2px solid yellow; */
    height: 1.5em;
    /* width: 1.5em; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;
}
.fimg img{
    height: 1.5em;
    width: 1.5em;
    filter: invert(100%);
    margin-right: 0.5em;

}
.footerr p{
    font-size: 1em;
    font-family: ui-sans-serif;
}
.social{
    margin: 0.8em;
}
.social img{
    height: 1.5em;
    width: 1.5em;
    filter: invert(100%);
    cursor: pointer;
    margin: 0 0.2em;
}
